name: API Test Framework

on:
  push:
    branches: [ "khan" ]
  pull_request:
    branches: [ "khan" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
        
    - name: Exicute Tests
      run: mvn clean test -Dsuite=suite -x
