name: API Test Framework

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  schedule: 
    - cron: 00 13 * * *  
    

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

      
    - name: Exicute Tests
      run: mvn clean test -Dsuite=suite -x

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: Logs
        path: logs/
